<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ICalculator" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ICalculator" contract="ServiceReference1.ICalculator"
                name="NetNamedPipeBinding_ICalculator">
                <identity>
                    <userPrincipalName value="WLM\wlm80Myshanghailocal" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>